[DEFAULT]
# Required: access id obtains from aliyun
access_id=
# Required: access key obtains from aliyun
access_key=
# Optional: not used now
interval=600
# Optional: turn on debug mode or not
debug=true
# Optional: should we get ip from the specific interface
# Require the "netifaces" package. Use "pip install netifaces" to install it.
# interface=en0

[DomainRecord1]
# Required: domain name, like google.com
domain=
# Required: subdomain name, like: *, www, blog, bbs
sub_domain=
# Required: resolve type, now it only supports 'A'
type=A
