[Unit]
Description=Run Aliyun DDNS Client every 10 minutes.

[Timer]
OnBootSec=0s
OnUnitActiveSec=10min
Unit=ddns.service

[Install]
WantedBy=multi-user.target
