[DEFAULT]
# Required: access id obtains from aliyun
access_id=
# Required: access key obtains from aliyun
access_key=
# Optional: not used now
interval=600
# Optional: turn on debug mode or not
debug=true

[DomainRecord1]
# Required: domain name, like google.com
domain=
# Required: subdomain name, like: *, www, blog, bbs
sub_domain=
# Required: resolve type, now it only supports 'A'
type=A
# Option: Deafult Interface is eno1
#interface=eth0

#[DomainRecord2]
# Required: domain name, like google.com
#domain=
# Required: subdomain name, like: *, www, blog, bbs
#sub_domain=
# Required: resolve IPV6 address
#type=AAAA
# Option: Deafult Interface is eno1
#interface=eth0


[feature_public_ip_from_nic]
enable=false
interface=eth0