[Unit]
Description=Aliyun DDNS Client.
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStart=aliyun-ddns

