[Unit]
Description=Aliyun DDNS Client.
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
WorkingDirectory=/root/tools/aliyun-ddns-client
ExecStart=/usr/bin/python ddns.py

